form{
    margin-top: 3rem;
}
form input[name="country"],
form input[name="city"]{    
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;

}
form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}
.form-control::placeholder { 
    color: rgb(228, 228, 228); 
    font-weight: 100;
    font-size: .8rem;
}  
form,
.container{
color: white;
}
.btn{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.btn:active,
.btn:hover{
    color: rgb(255, 229, 145);
    background-color: transparent;
    border: 1px solid rgb(255, 229, 145);
    text-decoration: none;
}
