.weather-container{
    margin-top: 7rem !important;
}
.container {
    margin-top: 1.2rem;
    margin-bottom: 5rem;
  }
  
  .container input,
  .container ::-webkit-input-placeholder {
    color: white !important;
  }
  .container input:focus {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid tomato;
  }
  
  @media (max-width: 425px){
    .min-max{
      font-size: 1.3rem; 
    }
    .wind,
    .hum{
      display: block;
    }
  }